<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wmii.endorfit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SetIntervalForTrainingActivity"></activity>
        <activity android:name=".CalendarDateChoosingActivity" />
        <activity android:name=".ExercisesDetailsActivity" />
        <activity android:name=".ExercisesListActivity" />
        <activity android:name=".AddNewExerciseActivity" />
        <activity android:name=".CreateNewPlanActivity" />
        <activity android:name=".PlanActivity" />
        <activity android:name=".workoutTimer" />
        <activity android:name=".timerWindow" />
        <activity android:name=".MainWindowActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".workoutPlan" />
        <activity android:name=".workoutGo" />
        <receiver android:name=".NotificationPublisher"/>
    </application>

</manifest>