<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.wmii.endorfit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/logo_endorfit_square"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo_endorfit_square"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".Activities.CompletedPlansActivity"></activity>
        <activity
            android:name=".Activities.RunningModeActivity"
            android:screenOrientation="portrait">
		</activity>
        <activity android:name=".Activities.SetIntervalForTrainingActivity"></activity>
        <activity android:name=".Activities.CalendarDateChoosingActivity" />
        <activity android:name=".Activities.ExercisesDetailsActivity" />
        <activity android:name=".Activities.ExercisesListActivity" />
        <activity android:name=".Activities.AddNewExerciseActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".Activities.CreateNewPlanActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".Activities.PlanActivity" />
        <activity android:name=".Activities.workoutTimerActivity" />
        <activity android:name=".Activities.timerWindowActivity" />
        <activity android:name=".Activities.MainWindowActivity" />
        <activity android:name=".Activities.ProfileActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".Activities.SignUpActivity" />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DataClasses.workoutPlan" />
        <activity android:name=".workoutGo" />
        <receiver android:name=".Adapters.NotificationPublisher"/>
    </application>

</manifest>
